<h3>{{park.parkName}}</h3>

<div class="col-sm-6 lead">
  <p><strong>Location: </strong>{{park.location}}</p>

  <p><strong>Type of Park: </strong>{{park.typeOfPark}}</p>

  <p><strong>Fenced: </strong>{{park.fenced}}</p>

  <p><strong>Small Dog Section: </strong>{{park.smallDogSection}}</p>

  <p><strong>Water Available: </strong>{{park.waterAvailable}}</p>

  <p><strong>Size: </strong>{{park.size}}</p>

  <p><strong>Description: </strong>{{park.description}}</p>
</div>

<div class="col-md-6">
  <img src="http://www.animalaidclinicsouth.com/oldsite/less%20people.jpg" width='100%' alt="" />
</div>